
.heading{
    font-size: 25px;
    color: white;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 10px black;
}

.note{
    font-size: 13px;
    color: black;
}

.copy_right_footer{
    position:fixed;
    background-color: rgb(0, 255, 119);
    color:white;
    line-height: 3;
    width:100%;
    text-align: center;
    bottom: 0;
}

canvas{
  box-shadow: 10px 10px 15px grey;
  border: 10px solid white;
  border-radius: 30px;
}

body{
    background-color: rgb(4, 167, 248);
}
